<footer class="footer">
    <p>Created by <a href="https://github.com/julia-francais" target='_blank'>Julia</a>.</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
   
   </body> 
</html>