<!DOCTYPE html>
<html>
    <head>
        <title>Homes</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      </head>
    <body>
        
        <nav class="navbar navbar-expand-lg" style="background-color: #81bfc0;">
            <div class="container-fluid">
                <div class="navbar-header">
                  <i class="fas fa-home"></i> 
                    <a class="navbar-brand" href="/">Homes</a>
                </div>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav ">
                      <% if(!currentUser){ %>
                        <li class="nav-item active">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/register">Sign up</a>
                        </li>
                      <% } else { %>
                        <li class="nav-item">
                          <a class="nav-link">Signed in as <%= currentUser.username%></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                        </li>
                      <% } %>
                      </ul>
                </div>
            </div>
        </nav>

      <div class="container">
        <% if(error && error.length > 0) { %>
          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
        <% } %>
        <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>
      </div>