<%- include ('./partials/header') %>

<div class="container">
    <h1 class="text-center">About us....</h1>
        <div class="col-md-9 mx-auto justify-content-center mt-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fpsh-ex-ftnikkei-3937bb4%2Fimages%2F2%2F7%2F1%2F8%2F18488172-1-eng-GB%2F20181218N%20ryokan.jpg?source=nar-cms" class="d-block w-100" alt="Kyoto" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                      <img src="https://www.pedestrian.tv/content/uploads/2018/03/Screen-Shot-2018-03-16-at-1.11.20-PM-637x397.png" class="d-block w-100" alt="Home on a lake" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.pedestrian.tv/content/uploads/2018/03/Screen-Shot-2018-03-16-at-11.53.23-AM.png" class="d-block w-100" alt="Treehouse" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.pedestrian.tv/content/uploads/2018/03/42740da0_original-768x512.jpg" class="d-block w-100" alt="Treehouse" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.pedestrian.tv/content/uploads/2018/03/Screen-Shot-2018-03-16-at-11.58.31-AM.png" class="d-block w-100" alt="Enchanted cave" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="https://media.deluxeblog.it/c/c84/sandals.jpg" class="d-block w-100" alt="Bora bora home" width="1100" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.realestate.com.au/blog/images/1600x1600-fit,progressive/2017/07/26173921/capi_34c1589c11048b0f920115310a255908_bbf6d60a2966e5b92d9e2da3151b5c8c.jpeg" class="d-block w-100" alt="Riyad Marrakech" width="1100" height="500">
                  </div>
                </div>
              </div>
            <div class="mt-4">
                <p>We are a newly innovative company currently based in San Francisco.</p>
                <p>Our wonderful adventure started in 2013 when Louise, our CEO met David. They both share a passion for road-tripping and discovering new places.</p>
                <p>After a full year road-tripping world tour, they decided to create a company to share their passion for travelling with everyone. They wanted to provide people a selection of the unique places they discovered during all their travel.</p>
                <p>That's how they started "Homes" proposing people to help them achieving their dreams of spending a night in a unique and unforgettable place!</p>
                <p>You could rent an apartment or a house, but if you want a truly memorable vacation, how about a castle? Or a treehouse? Or an actual covered wagon?! <br>These are the <strong>most out-there places</strong> you can rent right now that will place you straight in the heart and culture of the places you'll visit to make your trip <strong>a unique incredible experience.</strong> </p>

            <div class="d-flex flex-row m-2 justify-content-around mt-5">
                <div class=" img-thumbnail article col-md-4 p-2 text-center">
                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img-responsive pt-2" width="150px" height="220px"> 
                    <div class="caption-full p-2">
                        <h3 class="">Louise</h3>
                        <h4>Director</h4>
                        <p class="p-2">Hi, Louise a pioneer. I studied graphic design before starting Homes.</p>
                        <a class="" href="mailto:louise@homes.com">louise@homes.com</a>
                    </div>  
                </div>

                <div class="img-thumbnail article col-md-4 p-2 text-center">
                    <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" class="img-responsive pt-2" width="150px" height="220px"> 
                    <div class="caption-full p-2">
                        <h3 class="">David</h3>
                        <h4>Associate director</h4>
                        <p class="p-2">Hello I'm David, 33 and a travelling lover. I have a background in Marketing.</p>
                        <a class="" href="mailto:louise@homes.com">david@homes.com</a>
                    </div>  
                </div>
            </div>

                <div class="text-center mt-5">
                    <h4>Get ready for the most immersive vacation you've ever taken!</h4>
                    <a href="/campgrounds" class="btn btn-md btn-success mt-2">Start the Discovery</a>
                </div>
            </div>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<%- include ('./partials/footer') %>