body {
    background-color: #000000;
}

.welcome-button, .welcome-button:hover, .welcome-button:active, .welcome-button:focus{
  background-color: #CF8565;
  color: #fff;
  border-color: #CF8565;
}


#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top:40vh;
}

#landing-header h1{
    color: #ffffff;
    font-size: 4em;
}


#landing-header h3{
  color: #ffffff;
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 200;
  font-style: italic;
}

.slideshow {
    position: fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
 height: 100%;
}


.slideshow li {
    width: 100%;
    height: 100%;
    position :absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1475688621402-4257c812d6db?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80) 
  }
  
.slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1461237439866-5a557710c921?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80);
    animation-delay: 10s; 
  }
  
.slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1499678329028-101435549a4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=1950&q=80);
    animation-delay: 20s; 
  }

 .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1526392060635-9d6019884377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&https://images.unsplash.com/photo-1524413840807-0c3cb6fa808d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80=crop&w=750&q=80/2LSMCmJ.jpg);
    animation-delay: 30s; 
  }
  
.slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/https://dslv9ilpbe7p1.cloudfront.net/qH4wv3ribnirEilscRk-eg_store_header_image-1555400038-63f5ba517a47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&https://www.realestate.com.au/blog/images/1600x1600-fit,progressive/2017/07/26173921/capi_34c1589c11048b0f920115310a255908_bbf6d60a2966e5b92d9e2da3151b5c8c.jpegfit=crop&w=1950&q=80);
    animation-delay: 40s; 
  }

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}  