h1 {
    font-size: 4em;
}

h4 {
    color: #CF8565;
}

.fa-home{
    font-size: 1.2em;
    color: #fff;   
}

p#subtitle{
    font-size: 1.2em;
    font-style: italic;
}

.item .img-thumbnail{
    height:300px;
}

.img-thumbnail{
    padding: 0;
}

.card{
    background-color: #e9c7b9;
    margin-top: 1em;
}

h4.title{
    color: #CF8565;
}

a.back{
    display: inline-block;
    color: #81bfc0;
    font-size: 1.2em;
    font-weight: 700;
}

a.nav-link {
    color: #fff;
}

.container{
    padding: 1em;
}

.item{
    margin-bottom: 1.5em;
}

.item:hover{
    transform: scale(1.1);
}

.delete-form {
    display: inline;
}

.btn-primary, .btn-success {
    background-color: #81bfc0;
    border-color: #81bfc0;
}

.btn-outline-success {
        border-color: #81bfc0;
        color: #81bfc0;

}

.btn-primary:hover, .btn-success:hover, .btn-success:active, .btn-outline-success:hover {
    box-shadow: 0 0 0 0.2rem #81bfc0;
    color:#fff;
    background-color: #81bfc0;
    border-color: #81bfc0;
}


 .btn-danger{
    background-color: #CF8565;
    border-color: #CF8565;
}

.btn-danger:hover {
    box-shadow: 0 0 0 0.2rem #CF8565;
    color:#fff;
    background-color: #CF8565;
    border-color: #CF8565;
}

#map{
    height: 400px;
    width: 100%;
}

.navbar-brand{
    color: #fff;
    font-size: 1.7em;
    font-weight: 700;
}

.nav-link{
    color: #fff;
}

.nav-link:hover{
    color: #fff;
    font-size: 1.1em;
}

.navbar-brand:hover{
    color: #fff;
    font-size: 1.9em;
}

.jumbotron{
    background-color:#edd2c7;
    color: #fff;
    border-radius: 0;
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.footer a {
    color: #81bfc0;
}